.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: #84858e;
  font-size: 2rem;
  text-decoration: none;
}

.active {
  color: #3d9c68;
  font-weight: 700;
}

.active::after {
  content: "🌟";
}

@media (prefers-color-scheme: dark) {
  .active {
    color: #5c7dee;
  }
}
